body {
	background-color: black;
}

.tile {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
}

.tile:hover .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}

.flipper {
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}

.back {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
	display: block;
	width: 100%;
	height: 100%;
	color: white;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	background: #eeeeee;
}

.song .song-title {
	text-shadow: 1px 1px #F2F2F2;
	color: #2D2D2D;
	padding: 8px;
	font-weight: bold;
	margin-bottom: 6px;
	line-height: 30px;
	overflow-x: hidden;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #bbbbbb;

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.song .song-description {
	color: black;
	padding: 10px;
}

.back a.play-now {
	opacity: 0.8;
	width: 85px;
	height: 79px;
	background-image: url("play.png");
	background-repeat: no-repeat;
	display:block;
	margin: 0 auto;
	margin-top: 6px;
}

.back a.play-now:hover {
	opacity: 1;
}

.back a, .back a:visited {
	color: #438EDE;
	text-decoration: none;
}

.title {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #2D2D2D;
	border-top: 1px solid black;

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	z-index: 1;
}

.title h1 {
	text-shadow: 1px 1px #F2F2F2;
	padding-left: 20px;
	float: left;
	margin-right: 8px;
	font-size: 20px;
	font-weight: normal;
	color: #212121;
}

.title p {
	float: left;
	margin-right: 8px;
	font-size: 13px;
}

.title a, .title a:visited {
	color: #2388D1;
	text-decoration: none;
	padding-right: 20px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.board {
	width: 100%;
	height: 100%;
	min-width: 1000px;
	overflow: hidden;
}

.row {
	height: 100%;
	float: left;
	width: 20%;
	-webkit-transition-property: width;
	-webkit-transition-duration: 1000ms;
	-webkit-transition-timing-function: ease;
	-moz-transition-property: width;
	-moz-transition-duration: 1000ms;
	-moz-transition-timing-function: ease;
	overflow: hidden;
}

.tile {
	display: block;
	width: 100%;
}

.tile img {
	display: none;
	width: 100%;
	height: 100%;
}